



.titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s all ease-in-out;
    padding: 5px;
    background-color: #333; /* Dark background color for the title bar */
    border-bottom: 1px solid #4f4848; /* Add a 1px solid border with the color of your choice */
    z-index: 999;
}

.windowtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Arial, sans-serif; /* Use Arial or any standard sans-serif font */
    margin: 0;
    transition: 0.5s all ease-in-out;
    text-align: center;
    color: white; /* Text color for the window title in the dark theme */
}

/* Adjust the font size for responsive design */
@media screen and (max-width: 768px) {
    .windowtitle {
        font-size: 12px; /* Reduce font size for smaller screens */
    }
}

.windowControl {
    /* Remove the float and use flex properties */
    display: flex;
    align-items: center; /* Vertically center the window control buttons */
    gap: 5px; /* Add some space between the buttons */
    transition: 0.5s all ease-in-out;
}

.windowControl button {
    outline: 0;
    border: 0;
    background: none;
    color: white;
    transition: 0.5s all ease-in-out;
}

.windowControl button:hover {
    opacity: 0.6;
    transition: 0.5s all ease-in-out;
}

.min {
    background: #ff5f56;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    transition: 0.5s all ease-in-out;
}

.max {
    background: #ffbd2e;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    transition: 0.5s all ease-in-out;
}

.qui {
    background: #27c93f;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    transition: 0.5s all ease-in-out;
}

.titlestyle {
    background: #1e1e1e9c;
    color: white; /* Text color for the title bar theme in dark mode */
    font-family: Arial, sans-serif; /* Use Arial or any standard sans-serif font */
    font-size: 10pt;
    transition: 0.5s all ease-in-out;
}

.preventSelect {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    transition: 0.5s all ease-in-out;
}

.drag {
    -webkit-app-region: drag;
    transition: 0.5s all ease-in-out;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 15px;
    color: #fff;
    font-family: Arial, sans-serif; /* Use Arial or any standard sans-serif font */
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}



.menu li:hover {
    opacity: 0.8;
}
.logo {
    margin-right: 10px; /* Adjust the margin to create less space between the logo and the menu */
}


.logo img {
    width: 24px; /* Adjust the width and height according to your logo image size */
    height: 24px;
}
